.about-wrapper {
  background-color: $light-grey;
  min-height: $section-height;
}

.about-heading {
  @include red-white-block-text;
  position: relative;
}

.about-description-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $vertical-align-height;
}

.about-description {
  position: relative;

  p {
    text-align: center;
    max-width: 900px;
    color: #fff;
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 50px 20px 50px;

    @media #{$mobile-width-mq} {
      font-size: 1.5rem;
      margin: 0 20px;
    }

    a {
      color: $red;
      font-weight: 700;
    }
  }
}
