.contact-wrapper {
  @include very-light-grey-wrapper;
}

.contact-heading {
  @include red-white-block-text;
  position: relative;
}

.contact-content-wrapper {
  @include content-wrapper;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links-wrapper,
.contact-links-wrapper {
  text-align: center;
  padding: 100px;

  @media #{$mobile-width-mq} {
    padding: 30px;
  }
}

.social-links-heading,
.contact-links-heading {
  font-size: 3em;
  color: #fff;
  margin-bottom: 50px;
  position: relative;

  @media #{$mobile-width-mq} {
    font-size: 1.5em;
    margin-bottom: 25px;
  }
}

.social-links-wrapper {
  border-bottom: 1px solid $transparent-white;
}

.LinkedIn-wrapper,
.Github-wrapper,
.Twitter-wrapper,
.phone-email-wrapper {
  display: inline-block;
  padding: 0 10px;

  a {
    transition: 0.2s ease-out;
    color: #fff;
  }
}

.LinkedIn-wrapper,
.Github-wrapper,
.Twitter-wrapper {
  margin: 0 20px;
}

.icon {
  font-size: 5rem;
  position: relative;

  @media #{$mobile-width-mq} {
    font-size: 2rem;
  }
}

.phone-email-text {
  margin-top: 20px;
  position: relative;
}

.LinkedIn-wrapper a:hover {
  color: rgb(0, 93, 165);
}

.Github-wrapper a:hover {
  color: rgb(117, 39, 140);
}

.Twitter-wrapper a:hover {
  color: rgb(66, 132, 237);
}

.phone-email-link:hover {
  color: $red;
}
