.contact-wrapper {
  min-height: $section-height;
  background-color: $very-light-grey;
}

.contact-heading {
  @include red-white-block-text;
  position: relative;
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $vertical-align-height;
}

.social-links-wrapper,
.contact-links-wrapper {
  text-align: center;
  padding: 100px;

}

.social-links-heading,
.contact-links-heading {
  font-size: 3em;
  color: #fff;
  margin-bottom: 50px;
  position: relative;
}

.social-links-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.LinkedIn-wrapper,
.Github-wrapper,
.Twitter-wrapper,
.phone-email-wrapper {
  display: inline-block;
  padding: 0 40px;

  a {
    transition: 0.2s ease-out;
    color: #fff;
  }
}

.icon {
  position: relative;
}

.phone-email-text {
  margin-top: 20px;
  position: relative;
}

.LinkedIn-wrapper a:hover {
  color: rgb(0, 93, 165);
}

.Github-wrapper a:hover {
  color: rgb(117, 39, 140);
}

.Twitter-wrapper a:hover {
  color: rgb(66, 132, 237);
}

.phone-email-link:hover {
  color: $red;
}
