.resume-wrapper {
  min-height: $section-height;
  background-color: $light-grey;
}

.resume-heading {
  @include red-white-block-text;
  position: relative;
}

.resume-description-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $vertical-align-height;
}

.resume-description {
  vertical-align: middle;
  font-size: 3em;
  color: #fff;
  position: relative;

  a {
    color: $red;
    font-weight: 600;
  }
}
