.resume-wrapper {
  min-height: $section-height;
  background-color: $light-grey;
}

.resume-heading {
  @include red-white-block-text;
  position: relative;
}

.resume-description-wrapper {
  display: flex;
  flex-wrap:  wrap;
  height: $vertical-align-height;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
}

.resume-description {
  font-size: 3rem;
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 50px;

  @media #{$mobile-width-mq} {
    font-size: 1.5em;
  }

  a {
    color: $red;
    font-weight: 600;
  }
}

.language-wrapper,
.tool-wrapper {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.languages-heading,
.tools-heading {
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 3rem;
}

.library-list,
.secondary-tool-list {

  li {
    font-weight: 100;
    margin-left: 15px;
  }
}

.language-name,
.tool-name {
  margin-bottom: 10px;
  font-weight: 700;
}
