.resume-wrapper {
  min-height: $section-height;
  background-color: $light-grey;
}

.resume-heading {
  @include red-white-block-text;
  position: relative;
}

.resume-description-wrapper {
  display: flex;
  width: 100%;
  height: $vertical-align-height;
  flex-direction: column;
  justify-content: center
}

.resume-description {
  vertical-align: middle;
  font-size: 2em;
  color: #fff;
  position: relative;

  @media #{$mobile-width-mq} {
    font-size: 1.5em;
    text-align: center;
  }

  a {
    color: $red;
    font-weight: 600;
  }
}

.language-wrapper,
.tool-wrapper {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: #fff;

  h2 {
  }
}

.library-list,
.secondary-tool-list {
  li {
    font-weight: 100;
  }
}
