.work-wrapper {
  @include very-light-grey-wrapper;
}

.work-heading {
  @include red-white-block-text;
  position: relative;
}

.work-content-wrapper {
  @include content-wrapper;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.greer-dailey-content,
.shopper-content,
.moomill-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;

  @media #{$mobile-width-mq} {
    padding: 20px;
    margin: 10px 0;
  }
}

.greer-dailey-image,
.shopper-image,
.moomill-image {
  max-width: 400px;

  @media #{$mobile-width-mq} {
    max-width: 200px;
  }
}

.image-wrapper {
  margin-bottom: 20px;
}

.greer-dailey-heading,
.shopper-heading,
.moomill-heading {
  font-size: 2rem;
  text-align: center;
  color: #fff;

  @media #{$mobile-width-mq} {
    font-size: 1rem;
  }
}
