.logo {
  display: inline-block;
  font-size: 3em;
  color: #fff;
  padding-left: 200px;
  border-bottom: 1px dashed $red;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;

  @media #{$mobile-width-mq} {
    display: block;
    font-size: 2em;
    padding-left: 0;
    text-align: center;
  }
}
