.about-section {
  padding-top: 100vh;
}

.about-wrapper {
  background-color: $light-grey;
  min-height: $section-height;
}

.about-heading {
  @include red-white-block-text;
  display: inline-block;
}

.about-description-wrapper {
  display: table;
  width: 100%;
  height: $vertical-align-height;
}

.about-description {
  display: table-cell;
  vertical-align: middle;

  p {
    max-width: 900px;
    color: #fff;
    font-size: 1.5em;
    text-align: right;
    line-height: 1.5;
    font-weight: 100;
    margin-left: auto;
  }
}
