.contact-wrapper {
  min-height: $section-height;
  background-color: $very-light-grey;
}

.contact-heading {
  @include red-white-block-text;
  display: inline-block;
}

.contact-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $vertical-align-height;
}

.phone-icon a,
.email-icon a {
  color: $blue;
}

.phone,
.email {
  color: #fff;
}
