.work-wrapper {
  min-height: $section-height;
  background-color: $very-light-grey;
}

.work-heading {
  @include red-white-block-text;
  display: inline-block;
}

.work-content-wrapper {
  display: flex;
  justify-content: space-around;
}

.greer-dailey-image,
.shopper-image,
.moomill-image {
  max-width: 500px;
}
