.work-wrapper {
  min-height: $section-height;
  background-color: $very-light-grey;
}

.work-heading {
  @include red-white-block-text;
  display: inline-block;
}

.work-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $vertical-align-height;
}

.greer-dailey-content,
.shopper-content,
.moomill-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.greer-dailey-image,
.shopper-image,
.moomill-image {
  max-width: 400px;
}

.image-wrapper {
  margin-bottom: 20px;
}

.greer-dailey-heading,
.shopper-heading,
.moomill-heading {
  font-size: 3vh;
  text-align: center;
  color: #fff;
}
