<nav class="primary-nav">
    <ul class="primary-nav-list">
      {{#each global.pages }}
        {{#if name }}
            <li>
                <a href="#{{ @key }}">{{ name }}</a>
            </li>
        {{/if}}
      {{/each}}
    </ul>
</nav>


