<nav class="primary-nav">
    <ul class="primary-nav-list">
      {{#each global.pages }}
        {{#if name }}
            <li class="primary-nav-list-item">
                <a href="#{{ @key }}" class="{{ @key }}-link" data-nav="link">{{ name }}</a>
            </li>
        {{/if}}
      {{/each}}
    </ul>
</nav>


