%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin red-white-block-text {
  //background: linear-gradient(to right, $red, $light-red);
  background-color: $transparent-red;
  color: #fff;
  padding: 25px 80px;
  margin: 20px 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;

  @media #{$mobile-width-mq} {
    font-size: 1.5em;
    display: block;
    text-align: center;
  }
}

@mixin light-grey-wrapper {
  min-height: $section-height;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
}

@mixin very-light-grey-wrapper {
  min-height: $section-height;
  background-color: $very-light-grey;
  display: flex;
  flex-direction: column;
}

@mixin content-wrapper {
  display: flex;
  flex-grow: 1;
}
